# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files (JARs, WARs, etc.)
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*

# Diretório de build do Maven
target/

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml

# NetBeans
nbproject/private/
build/
dist/

# Arquivos do sistema (MacOS, etc.)
.DS_Store

# Arquivos temporários diversos
*~
*.swp

# Arquivos de backup do Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next